<nav style="background-color: black;">
    <ul>
        <li>
            <a href="login"><img src="/_img/menu.png" alt="menu" width="25px" img
                    style="padding-right: 10px; padding-top: 1px;"></a>
            <ul>
                <li><a href="login">Login</a></li>
                <li><a href="admin">Admin</a></li>
            </ul>
        </li>
        <li id="menu_celular">
            <a href="login"><img src="/_img/menu.png" alt="menu" width="25px" img
                    style="padding-right: 10px; padding-top: 1px;"></a>
            <ul>
                <li id="menu_celular"><a href="index">Início</a></li>
                <li id="menu_celular"><a href="autor">Sobre</a></li>
                <li id="menu_celular"><a href="contate">Contate-nos</a></li>
            </ul>
        </li>
        <li><a href="contate">Contate-nos</a></li>
        <li><a href="autor">Sobre</a></li>
        <li><a href="index">Início</a></li>
    </ul>
    <img src="/_img/logo_rondon.png" alt="logo_rondon" width="250px" img style="padding: 10px;">
</nav>